{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    <p class="lead">
      Все планы имеют <b>7 дней бесплатного доступа</b>. Обязательно прочтите <a href="/terms">Условия</a> и <a href="/privacy">Политику Конфиденциальности</a>.
    </p>
    {{ .Content }}
    <br/>
    <hr/>
    <div class="row">
      <div class="col-md-8 col-lg-4 col-xl mb-4">
        <h2>₽499/мес</h2>
        <p>Доступно подпиской или одноразовым платежом</p>
      </div>
      <div class="col-md-8 col-lg-4 col-xl mb-4">
        <h2>₽4,999/год</h2>
        <p>Доступно подпиской или одноразовым платежом</p>
      </div>
      <div class="col-md-8 col-lg-4 col-xl mb-4">
        <h2>₽8,999</h2>
        <p><b>36 месяцев</b>, доступно только одноразовым платежом</p>
      </div>
    </div>
    <hr/>
    <br/>
    <p>
      Вы можете управлять подпиской, выполнив команду <b>/subscription</b> в боте. 
    </p>
    <p>
      Если вы меняете свой план, размер платежа будет пересчитан.
    </p>
    <p>
      Если у вас есть вопросы, пожалуйста, пишите в <a href="https://t.me/KebabSupport">поддержку</a>.
    </p>
  </article>
{{ end }}
