{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    <p class="lead">
      All plans include <b>7 days trial</b>. Please follow to <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a> to read the service terms.
    </p>
    {{ .Content }}
    <br/>
    <hr/>
    <div class="row">
      <div class="col-md-8 col-lg-4 col-xl mb-4">
        <h2>$4.99/mo</h2>
        <p>Monthly plan available for subscription or one-time payment</p>
      </div>
      <div class="col-md-8 col-lg-4 col-xl mb-4">
        <h2>$49.99/year</h2>
        <p>Annual plan available for subscription or one-time payment</p>
      </div>
      <div class="col-md-8 col-lg-4 col-xl mb-4">
        <h2>$89.99</h2>
        <p><b>36 months</b> of service, available for one-time payment only</p>
      </div>
    </div>
    <hr/>
    <br/>
    <p>
      You can manage your plans using the <b>/subscription</b> command. 
    </p>
    <p>
      If you change your plan, the payment amount is recalculated.
    </p>
    <p>
      If you have any questions, please write your request to <a href="https://t.me/KebabSupport">support</a>.
    </p>
  </article>
{{ end }}
