{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    <p class="lead">
      Дата документа: <b>08/16/2023</b>
    </p>
    {{ .Content }}
    <hr/>
<p>Мы хотим, чтобы вы понимали, какую информацию (включая Персональные данные) мы собираем в связи с вашим использованием наших Услуг и/или доступом к нашему Сайту; для какой цели собирается такая информация; как мы собираем, используем и храним такую информацию; кому она может быть раскрыта; и как вы можете осуществлять свои права и получать доступ к своей информации, проверять ее точность, исправлять и/или удалять ее. Равным образом мы хотим, чтобы вы знали, какую информацию мы не собираем ни при каких обстоятельствах.</p>
<p>Кроме того, в настоящей Политике конфиденциальности изложены меры безопасности, которые мы принимаем для защиты вашей информации, и к кому вы можете обратиться, если у вас возникнут какие-либо вопросы или жалобы относительно содержания настоящей Политики конфиденциальности.</p>
<p>Наш руководящий принцип в отношении сбора данных заключается в сборе только минимальных данных, необходимых для предоставления Услуг мирового класса в масштабе. Мы разработали наши системы (и стремимся постоянно их совершенствовать) так, чтобы они не хранили конфиденциальные данные о наших клиентах. Мы не можем раскрывать, неправильно использовать или злоупотреблять, даже когда это необходимо, данными, которыми мы не обладаем. Мы не собираем журналы вашей активности, включая журналы истории просмотров, назначения трафика, содержимого данных или DNS-запросов. Мы также никогда не храним журналы подключений, то есть журналы вашего IP-адреса, вашего исходящего IP-адреса VPN, временной метки подключения или продолжительности сеанса.</p>
<p>Эту Политику конфиденциальности следует читать вместе с Условиями обслуживания KebabVPN («Условия»). Вместе они образуют юридически обязывающее соглашение между вами и KebabVPN, поэтому, пожалуйста, внимательно прочтите их. Если не указано иное, термины, начинающиеся с заглавной буквы в настоящей Политике конфиденциальности, имеют то же значение, которое им дано в Условиях.</p>
<p><b>Основная миссия KebabVPN — сохранять конфиденциальность вашей информации.</b></p>
<h2>Общая информация</h2>
<p>KebabVPN может собирать пять (5) типов данных в зависимости от вашего использования Услуг, как указано ниже. Подробную информацию о каждом из них вы можете найти в соответствующих разделах ниже. Если вы просто посещаете наш Сайт, см. Раздел 7.</p>
<p><b>(i) Персональные данные, предоставленные в связи с вашей Учетной записью («Персональные данные»)</b></p>
<p>Персональные данные означают любую информацию, которая может быть использована отдельно или в сочетании с другими данными для уникальной идентификации личности. Персональные данные собираются с целью предоставления вам наших Услуг и могут включать имя, адрес электронной почты и платежную информацию, которую вы предоставляете нам при создании или обновлении своей Учетной записи.</p>
<p><b>(ii) Сводная статистика по приложениям и VPN-подключениям («Данные статистики использования»)</b></p>
<p>Минимальный объем данных статистики использования собирается для поддержания превосходной поддержки клиентов и качества обслуживания. Этот тип данных не включает информацию о просмотре страниц и интернет-активности пользователей, в том числе при подключении к VPN — мы не собираем (и, следовательно, не используем, не раскрываем и не храним) данные о содержании или пунктах назначения трафика VPN, DNS-запросах или IP-адресах пользователей.</p>
<p><b>(iii) Анонимная диагностика приложений, включая отчеты о сбоях («Диагностические данные приложений») (необязательно)</b></p>
<p>Диагностические данные приложений, которые включают отчеты о сбоях, диагностику удобства использования и диагностику VPN-подключения, представляют собой анонимные данные, которые нельзя связать с отдельными пользователями. Эта функция похожа на опцию «отправить отчет об ошибке». Диагностические данные приложений по умолчанию не передаются. Вы должны дать согласие, например, через меню настроек ваших приложений, чтобы отправлять нам диагностические данные приложений.</p>
<h2>Персональные данные</h2>
<p>KebabVPN собирает Персональные данные, которые вы предоставляете, создавая или обновляя Учетную запись. Нам требуются Персональные данные, такие как адрес электронной почты и платежная информация, чтобы мы могли предоставлять вам наши Услуги, отправлять вам электронные письма, собирать платежи, отвечать на запросы поддержки и делиться соответствующей информацией о вашей Учетной записи и/или Услугах.</p>
<p>Конкретные собираемые Персональные данные будут зависеть от выбранного вами способа оплаты и могут включать такую ​​информацию, как имя, страна выставления счета, адрес выставления счета и/или номер кредитной карты. Для некоторых форм оплаты вы можете быть перенаправлены на внешние веб-сайты, управляемые сторонними платежными процессорами (например, PayPal, BitPay, Paymentwall, Stripe или другими конкретными платежными процессорами в зависимости от вашего местоположения), для завершения транзакции. Чтобы понять, какие персональные данные собирают и хранят эти процессоры, ознакомьтесь с условиями и политикой конфиденциальности соответствующего процессора. Способы оплаты, которые помогают минимизировать объем персональных данных, которые вы нам отправляете, например, Bitcoin, также доступны для использования при подписке на наши Услуги.</p>
<p>KebabVPN использует ваш адрес электронной почты по следующим причинам:</p>
<ul>
<li>Чтобы предоставить вам доступ к нашим Услугам, в том числе с помощью писем для сброса пароля.</li>
<li>Чтобы отправлять письма, связанные с вашими платежными транзакциями.</li>
<li>Чтобы отправлять вам обновления и объявления.</li>
<li>Чтобы общаться с вами по поводу вашего Аккаунта или отвечать на ваши сообщения.</li>
<li>Чтобы отправлять маркетинговую информацию, такую как предложения, опросы, приглашения и контент по другим вопросам, связанным с KebabVPN, которые, по нашему мнению, могут вас заинтересовать («Маркетинговые письма»). Вы можете отказаться от получения маркетинговых писем, выполнив процедуру отмены подписки, описанную в этих письмах.</li>
</ul>
<p>KebabVPN использует ваши Персональные данные только для целей, указанных в настоящей Политике конфиденциальности, и мы не продаем и не сдаем ваши Персональные данные в аренду третьим лицам. Мы собираем и обрабатываем ваши Персональные данные для законных интересов в соответствии с применимым законодательством, в частности, для выполнения наших договорных обязательств перед вами (т. е. в соответствии с Соглашением между вами и KebabVPN).</p>
<p>Любая персональная информация, связанная с учетными записями KebabVPN, контролируется только KebabVPN, включая хранение в системах и серверах, принадлежащих или арендуемых KebabVPN и ее дочерними компаниями. В ограниченных обстоятельствах, когда эти данные могут потребоваться для обработки другими связанными лицами, они могут передаваться только при необходимости и в течение требуемого периода времени для обработки, связанной исключительно с целями и законными интересами, изложенными в настоящей Политике конфиденциальности, при этом всегда обеспечивая те же стандарты защиты данных. Во избежание сомнений, эти обстоятельства не включают ситуации, когда контроль над персональной информацией пользователей KebabVPN будет передан любым другим связанным лицам на любой период времени.</p>
<h3>Как мы защищаем и сохраняем безопасность ваших персональных данных</h3>
<p>Мы внедрили лучшие в своем классе физические, процедурные и технические меры безопасности в отношении наших офисов и хранилищ информации, чтобы предотвратить любую потерю, неправильное использование или несанкционированный доступ, раскрытие или изменение ваших персональных данных. Хотя мы считаем, что эти системы надежны, важно понимать, что никакие меры безопасности данных в мире не могут обеспечить абсолютно безупречную защиту. По этой причине наш руководящий принцип — собирать минимальные данные.</p>
<p>Серверы и центры обработки данных. Серверы размещены в центрах обработки данных с надежными методами обеспечения безопасности. Ни один из этих центров обработки данных не требует от нас сбора или хранения каких-либо данных о трафике или персональных данных, связанных с вашим использованием Услуг. Если какой-либо центр обработки данных попросит нас регистрировать такие данные, мы немедленно прекратим работу с указанным поставщиком услуг и найдем альтернативные варианты. Даже если бы правительство физически захватило один из наших VPN-серверов, не осталось бы никаких журналов или информации, которые связывали бы отдельного пользователя с определенным событием, веб-сайтом или поведением.</p>

<h3>Хранение ваших персональных данных.</h3>
<p>Ваши персональные данные, которые, повторим, никогда не включают в себя какие-либо конфиденциальные данные, такие как история просмотров, DNS-запросы или IP-адреса, связанные с пользователем, хранятся в течение ограниченного периода в соответствии с применимым законодательством о защите данных (до тех пор, пока у нас есть ваше согласие или законная причина для хранения таких данных). Вы можете запросить удаление своих данных, отправив действительный запрос на удаление (см. Раздел 11). Обратите внимание, что если вы запросите удаление своих персональных данных, вы больше не сможете пользоваться Услугами.</p>
<p>Как мы защищаем ваши персональные данные в отношении поставщиков услуг</p>
<p>Агенты, подрядчики и сторонние поставщики услуг KebabVPN («Поставщики услуг») могут иметь контролируемый доступ к соответствующим данным, чтобы помочь нам обрабатывать платежи, администрировать Услуги и иным образом помогать нам в ведении нашего бизнеса. Все Поставщики услуг, которые могут получить доступ к таким данным, имеют обязательства по конфиденциальности и обработке данных, чтобы сохранять конфиденциальность данных и не использовать их для каких-либо других целей, кроме как для оказания услуг, которые они оказывают от имени KebabVPN. Эти обязательства включают договорные обязательства по защите данных в соответствии с требованиями применимых законов, включая те, которые охватывают передачу персональных данных из Европейского союза/Европейской экономической зоны в третью страну.</p>

<p>Поставщики услуг имеют доступ только к данным, необходимым для услуг, которые они оказывают от имени KebabVPN, которые в любом случае никогда не будут включать данные о деятельности VPN или подключении, поскольку мы не собираем такие данные. </p>

<p>Помимо поставщиков услуг, мы можем передавать ваши персональные данные, если вы предоставили нам свое согласие на передачу или распространение ваших персональных данных (например, маркетинговые согласия или согласие на дополнительные услуги или функции).</p>

<h2>Данные статистики использования и диагностические данные приложений</h2>
<p>В целях поддержания превосходной поддержки клиентов и качества обслуживания KebabVPN собирает определенную информацию, связанную с вашим использованием VPN, как описано ниже. Эти данные видны нашему персоналу строго по принципу служебной необходимости и могут быть переданы поставщикам услуг для указанных выше целей, но всегда остаются конфиденциальными.</p>
<p>Мы гарантируем, что данные статистики использования и диагностические данные приложений никогда не будут содержать никакой конфиденциальной информации в соответствии с нашим общим обязательством никогда не регистрировать историю просмотров, направление трафика, содержимое данных, IP-адреса или запросы DNS.</p>
<p>Наш принцип минимального сбора данных означает, что:</p>
<ul>
<li>Мы не знаем, какой пользователь когда-либо получал доступ к определенному веб-сайту или сервису.</li>
<li>Мы не знаем, какой пользователь был подключен к VPN в определенное время или какие IP-адреса VPN-серверов они использовали.</li>
<li>Мы не знаем набор исходных IP-адресов компьютера любого конкретного пользователя.</li>
</ul>
<p>Если кто-либо попытается заставить KebabVPN раскрыть информацию о пользователе на основе любого из вышеперечисленных факторов, мы не сможем предоставить эту информацию, поскольку данные не существуют.</p>

<h3>Приложения и версии приложений</h3>
<p>Мы собираем информацию о том, какие приложения и версии приложений вы активировали для использования наших Услуг. Знание вашей текущей версии приложений позволяет нашей службе поддержки устранять технические проблемы, с которыми вы можете столкнуться.</p>

<h3>Успешное подключение</h3>
<p>Мы собираем информацию о том, успешно ли вы установили VPN-подключение в определенный день (но не в определенное время дня), к какому расположению VPN (но не к назначенному вами исходящему IP-адресу) и из какой страны/интернет-провайдера (но не к вашему исходному IP-адресу). Эта минимальная информация помогает нам предоставлять техническую поддержку, например, выявлять проблемы с подключением, предоставлять рекомендации по оптимальному использованию наших Услуг в зависимости от страны и позволять инженерам KebabVPN выявлять и устранять проблемы с сетью.</p>

<h3>Общая сумма переданных данных (в МБ)</h3>
<p>Мы собираем информацию об общей сумме данных, переданных данным пользователем. Хотя мы предоставляем неограниченную передачу данных, если мы заметим, что один пользователь передает больше трафика, чем тысячи других вместе взятых, тем самым влияя на качество Услуг для других пользователей KebabVPN, мы можем связаться с этим пользователем для объяснений.</p>

<h3>Сводка данных статистики использования</h3>
<p>Вкратце, мы собираем минимальную статистику использования, чтобы поддерживать качество нашего обслуживания. Мы можем знать, например, что наш клиент Джон подключился к нашему VPN-местоположению в Нью-Йорке во вторник и передал в общей сложности 823 МБ данных за 24-часовой период. Джона нельзя однозначно идентифицировать как ответственного за какое-либо конкретное поведение в сети, поскольку его шаблон использования пересекается с шаблонами тысяч других клиентов KebabVPN, которые также подключались к тому же месту в тот же день.</p>

<p>Мы спроектировали наши системы так, чтобы категорически исключить хранение конфиденциальных данных. Мы можем знать, ЧТО пользователь использовал KebabVPN, но мы не можем выделить пользователя и мы никогда не узнаем, КАК он использовал наш Сервис. Мы твердо придерживаемся приверженности конфиденциальности наших пользователей и не располагаем никакими данными, связанными с действиями пользователей в Интернете.</p>

<h3>Как мы защищаем и сохраняем информацию, связанную с электронной почтой, чатом и формами обратной связи</h3>
<p>KebabVPN хранит записи любой корреспонденции, вопросов, жалоб или комплиментов, которые вы отправляете нам через наш Сайт или Услуги, а также наш ответ. В зависимости от того, как вы связываетесь с KebabVPN, мы можем собирать ваш адрес электронной почты и любую дополнительную информацию, которую вы нам предоставляете. Наличие полных записей о корреспонденции позволяет нашим сотрудникам предоставлять наилучший возможный опыт поддержки клиентов.</p>

<h2>Файлы cookie и сторонняя аналитика</h2>
<p>В целях пользовательского опыта и аналитики KebabVPN использует несколько аналитических служб, в том числе от сторонних поставщиков услуг. Эти сервисы могут использовать файлы cookie, мобильные идентификаторы и другие данные для создания отчетов и статистики, но не имеют доступа к информации, которая напрямую идентифицирует отдельных лиц, или к любым Персональным данным, которые пользователи предоставляют KebabVPN.</p>

<h3>Что такое Файл cookie?</h3>
<p>Файлы cookie и другие подобные технологии представляют собой небольшие текстовые файлы, используемые для хранения информации о вашем посещении Сайта на вашем компьютере или мобильном устройстве («Файлы cookie»). Файлы cookie позволяют веб-сайтам «запоминать» ваши действия или предпочтения с течением времени, что позволяет нам оптимизировать и улучшать пользовательский опыт Сайта, помогая нам предоставлять определенные функции, такие как вход на сайт и языковые настройки. Файлы cookie, которые мы используем, могут со временем меняться, поскольку мы постоянно обновляем и улучшаем наш Сайт.</p>

<h3>Отключение файлов cookie</h3>
<p>Вы можете изменить свои настройки файлов cookie в любое время. Вы можете сделать это на панели настроек вашего браузера. В зависимости от используемого браузера и устройства вы можете контролировать, какие файлы cookie вы разрешаете, какие хотите заблокировать в будущем, а также удалять файлы cookie. Для получения дополнительной информации об этих настройках обратитесь к разделу «помощь» вашего браузера. Обратите внимание, что наш Сайт может работать не так, как задумано, если вы решите отключить файлы cookie.</p>

<h3>Файлы cookie KebabVPN</h3>
<p>Файлы cookie, установленные KebabVPN, позволяют нам устанавливать ваши языковые предпочтения, приписывать посетителей маркетинговому каналу и, как только вы входите в систему, безопасно показывать вам информацию, относящуюся к вашей учетной записи. Файлы cookie содержат идентификатор пользователя, но не содержат напрямую персональную информацию, такую ​​как ваше имя или адрес электронной почты, и не отслеживают никакую активность за пределами доменов KebabVPN.</p>

<h3>Сторонние файлы cookie</h3>
<p>KebabVPN использует сторонние сервисы, такие как Google Analytics и Adwords. Файлы cookie таких сервисов используются для сбора данных для статистических отчетов. Например, мы можем создавать отчеты о количестве времени, которое пользователи проводят на Сайте, и количестве пользователей, посещающих определенную страницу.</p>

<p>KebabVPN использует ремаркетинг Google Ads для показа рекламы на сторонних веб-сайтах (включая Google) пользователям, посетившим наш Сайт. Мы можем показывать таким пользователям рекламу на странице результатов поиска Google или на сайте в контекстно-медийной сети Google.</p>

<p>Поставщики услуг, включая Google, используют файлы cookie для показа рекламы на основе чьих-либо прошлых посещений Сайта. Все собранные данные будут использоваться в соответствии с нашей Политикой конфиденциальности и политикой конфиденциальности Google. Пользователи могут отказаться от использования файлов cookie Google, посетив страницу отказа от рекламы Google. Пользователи могут отказаться от Google Analytics, посетив страницу отказа от Google Analytics. Пользователи могут отказаться от использования файлов cookie третьими лицами, посетив страницу отказа от Network Advertising Initiative.</p>

<h2>Информация об устройстве</h2>
<p>KebabVPN использует информацию об устройстве (включая тип устройства, операционную систему/язык или агента пользователя, а также мобильные идентификаторы, предоставляемые устройствами Android или iOS) для создания статистики, связанной с маркетинговыми каналами и рекламными партнерами, через которые пользователи узнали о приложениях KebabVPN и зарегистрировались в них. Эта информация об устройстве не содержит вашего имени, адреса электронной почты или других персональных данных.</p>

<h3>Отключение или сброс мобильных идентификаторов</h3>
<p>Пользователи могут в любое время отключить или сбросить мобильные идентификаторы, связанные со своими устройствами. Инструкции см. на странице Apple о рекламе и конфиденциальности на устройствах iOS и на странице Google об управлении настройками Google на вашем устройстве Android.</p>

<h3>Аналитика электронной почты/коммуникаций</h3>
<p>Чтобы оценить и улучшить электронные письма и другие сообщения, которые мы отправляем, KebabVPN или его поставщики услуг могут собирать данные для статистических отчетов. Например, мы можем создавать отчеты, оценивающие, были ли электронные письма успешно отправлены, были ли задержки доставки или количество открытий электронного письма.</p>

<h3>Взаимодействие со сторонними продуктами</h3>
<p>Сайт может содержать ссылки на внешние веб-сайты, мобильные программные приложения, продукты или услуги, которые не принадлежат или не контролируются KebabVPN, и могут регулироваться определенными положениями и условиями. Обратите внимание, что такие третьи лица могут собирать у вас личную информацию. KebabVPN не несет ответственности за политику конфиденциальности или содержание таких внешних веб-сайтов. Мы рекомендуем вам ознакомиться с условиями и положениями, а также политикой конфиденциальности каждого стороннего поставщика услуг, с которым вы взаимодействуете в связи с Сайтом или Услугами.</p>

<h3>Пользователи в Европейском Союзе</h3>
<p>KebabVPN стремится к обеспечению конфиденциальности пользователей во всем мире, и наши существующие практики отражают это посредством минимального сбора данных и обеспечения контроля пользователей над своими Персональными данными. Общий регламент по защите данных («GDPR») Европейского Союза («ЕС») требует от нас изложить эти практики особым образом для пользователей в ЕС.</p>

<p>В соответствии с GDPR мы собираем и обрабатываем Персональные данные, указанные в настоящей Политике конфиденциальности, на одной из следующих основ в зависимости от обстоятельств:</p>

<p>В целях выполнения наших договорных обязательств, в том числе:</p>
<ul>
<li>Предоставление подписчикам запрошенных ими Услуг.</li>
<li>Управление подписками и обработка платежей, связанных с нашими Услугами.</li>
<li>Оказание поддержки клиентам.</li>
</ul>

<p>В целях законного интереса, связанного с работой нашего бизнеса, в том числе:</p>
<ul>
<li>Повышение качества, надежности и эффективности наших Услуг.</li>
<li>Общение с клиентами для предоставления информации и получения отзывов, связанных с нашими Услугами.</li>
<li>С согласия пользователей, которое пользователи могут отозвать в любое время.</li>
</ul>
<h2>Ваши права на конфиденциальность</h2>
<p>Права: При использовании наших Услуг у вас есть следующие права (с учетом определенных исключений или изъятий).</p>
<ul>
<li>У вас есть право на доступ к персональным данным, хранящимся о вы.</li>
<li>Вы имеете право потребовать, чтобы мы исправили любые хранящиеся у нас персональные данные, которые являются неточными или неполными.</li>
<li>Вы имеете право потребовать удаления ваших персональных данных. Обратите внимание, что такое удаление может привести к тому, что мы больше не сможем предоставлять вам наши Услуги.</li>
<li>Вы имеете право потребовать ограничения или возражать против обработки ваших персональных данных.</li>
<li>Вы имеете право запрашивать и получать ваши персональные данные в общепринятом формате (переносимость данных).</li>
<li>Вы имеете право в любое время отозвать свое согласие, на котором основана обработка.</li>
<li>Вы имеете право подать жалобу в местный орган по надзору за защитой данных.</li>
<li>Вы можете воспользоваться своими правами, указанными выше, связавшись с нами.</li>
<li>Вы можете поручить третьему лицу подать запрос от вашего имени в качестве уполномоченного агента. Чтобы подтвердить, что уполномоченный агент имеет право подать запрос от вашего имени, у него должно быть письменное разрешение, подписанное вами, и вы должны предоставить нам копию подписанного разрешения. Чтобы обеспечить вашу конфиденциальность и безопасность, мы можем предпринять дополнительные шаги для проверки вашей личности.</li>
</ul>
<p>Мы рассмотрим любые запросы в соответствии с применимым законодательством и постараемся своевременно.</p>

<h2>Пользователи в Калифорнии</h2>
<p>В соответствии с «Законом о свете» (раздел 1798.83 Гражданского кодекса Калифорнии) жители Калифорнии могут запрашивать информацию о любом раскрытии персональных данных третьим лицам в целях прямого маркетинга. Мы не раскрываем такие данные третьим лицам в целях прямого маркетинга. Тем не менее, жители Калифорнии, желающие сделать запрос (один раз на пользователя в год), могут связаться с нами</p>

<p>Следующие права (которые могут подлежать определенным исключениям или отступлениям) применяются к лицам, подпадающим под действие Закона Калифорнии о защите прав потребителей («CCPA»):</p>
<ul>
<li>Вы имеете право знать, какие персональные данные о вас собираются и как они используются и передаются.</li>
<li>Вы имеете право потребовать удаления своих персональных данных. Обратите внимание, что такое удаление может привести к тому, что мы больше не сможем предоставлять вам наши Услуги.</li>
<li>Вы имеете право отказаться от продажи ваших персональных данных. Однако нет необходимости осуществлять это право, поскольку KebabVPN не продает никакие данные третьим лицам.</li>
<li>Вы имеете право не подвергаться дискриминации за осуществление любого из этих прав или других прав в соответствии с CCPA.</li>
<li>Вы имеете право в любое время отозвать свое согласие, на котором основана обработка.</li>
</ul>

<h2>Использование детьми</h2>
<p>Мы не предлагаем наши Услуги для использования детьми и, следовательно, мы сознательно не собираем Персональные данные от и/или о лицах, не достигших восемнадцати (18) лет или не достигших совершеннолетия в юрисдикции проживания/из которой используются Услуги. Если вам не исполнилось восемнадцати (18) лет или вы не достигли совершеннолетия в юрисдикции, где вы проживаете или из которой вы используете Услуги, не предоставляйте нам никаких Персональных данных без участия родителя или законного опекуна. В целях GDPR мы не намерены предлагать услуги информационного общества непосредственно детям. В случае, если нам станет известно, что вы предоставляете Персональные данные с нарушением применимых законов о конфиденциальности, мы оставляем за собой право удалить их. Если вы считаете, что у нас может быть такая информация, свяжитесь с нами, как описано в Разделе 16.</p>

<h2>Изменения в настоящей Политике конфиденциальности</h2>
<p>Мы можем время от времени изменять нашу Политику конфиденциальности, с уведомлением вас или без него, в соответствии с применимыми законами и принципами конфиденциальности. Ваше дальнейшее использование Услуг и/или доступ к Сайту означает ваше согласие с нашей Политикой конфиденциальности.</p>

<h2>Как связаться с KebabVPN</h2>
<p>Если у вас есть какие-либо вопросы, опасения или жалобы относительно нашей Политики конфиденциальности, нашего соответствия применимым законам или того, как мы обрабатываем вашу информацию, или если вы хотите воспользоваться своими правами на конфиденциальность, свяжитесь с нами по следующему адресу электронной почты:</p>

<p><b>support@kebabvpn.ru</b></p>

<p>Вы также можете направить любые вопросы относительно настоящей Политики конфиденциальности нашему должностному лицу по защите данных группы (DPO), написав по адресу dpo@kebabvpn.ru.</p>

  </article>
{{ end }}
