{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="https://t.me/KebabVPNBot" role="button">{{ i18n "get-started" }}</a>
      <p class="meta">{{ i18n "trial-welcome" | safeHTML }}</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">⚡️ Быстрый</h2>
          <p>Высокоскоростные шлюзы позволяют смотреть фильмы в формате Full HD и пользоваться Интернетом быстрее скорости света.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">🔐 Безопасный</h2>
          <p>Полное шифрование трафика с использованием новейших алгоритмов шифрования делает ваш веб-серфинг и личные данные безопасными и защищенными.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">⚙️ Гибкий</h2>
          <p>Следуйте <a href="/">документации</a> чтобы получить инструкции для вашего устройства и установить соединение.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">💻 Устройства</h2>
          <p>Поддержка нескольких устройств и конфигураций с использованием одной учетной записи.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">🌎 Локации</h2>
          <p>Выберите подходящее местоположение для вашего трафика среди доступных серверов.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">💁🏻 Поддержка</h2>
          <p><a target="_blank" href="https://t.me/KebabSupport">24/7 поддержка</a><br/>доступна для вас.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
